.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  flex: 1;
  max-width: 30%;
  padding: 1rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background: #f9f9f9;
}

.map-container {
  flex: 2;
  position: relative;
}